*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-color: #000000;
}

#experience{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.experience-canvas{
    width: 100%;
    height: 100%;
}