*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    overflow: hidden;
}

.experience{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.experience-canvas{
    width: 100%;
    height: 100%;
}